.call {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 2rem 0;

      &__all {
            background-color: #0f8b8514;
            width: 60%;

      }

      &__infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      &__form {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            textarea {
                  width: 70%;
                  height: 50px;
                  font-size: 1.1em;
                  padding: 1rem;
            }

            button {
                  background-color: #0f8b85;
                  color: #fff;
                  width: 10%;
                  height: 50px;
                  border: none;
                  cursor: pointer;
            }
      }

      &__list {
            section {
                  display: flex;
                  justify-content: center;
                  margin: 2rem 0;

                  //  padding: 1rem;

                  p {
                        color: #333;
                        font-size: 2em;
                  }
            }
      }

      &__mensagens {
            display: flex;
            flex-direction: column;
            align-items: center;

            section {
                  background-color: rgb(15 139 133 / 6%);
                  background-color: #f2f2f2;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  padding: 10px;
                  margin-bottom: 10px;
                  width: 100%;

                  h3 {
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                  }

            }

      }

      &__you {
            border-bottom-style: ridge;
            display: inline-block;

      }

}

.status__list {
      margin-top: 1rem;
      display: flex;
      gap: 5px;
      justify-content: center;

      select {
            padding: 0.5rem;
            width: 18%;
            font-size: 1em;

            option {
                  font-size: 1em;
            }
      }
}