.Container {
    padding: 0.5rem 1rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: 12% 88%;
    justify-content: start;
    align-items: center;
    border-bottom: solid #21212262 1px;
    margin-bottom: 3rem;

    &__linksBtn{
        display: flex;
        justify-content: space-between;
    }
    &__btns{
        display: flex;
        align-items: center;
    }
   &__logo{
    
   }
   &__links{ 
        display: flex;
        align-items: center;
        a{
            padding: 10px;
            color: #222223;
            text-decoration:none;
            font-size: 20px;
        }
   }
}

.Logo_img{
    width:100%;
}

.ContainerNav a {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 22px;
    color: #48626f;
}

.btn_signout{
   
}

.App-logo, .icon_signout{
    width: 2rem;
    height: 1.5rem;
    color: black;
    cursor: pointer;
}
.logo {
    background-image: url(../../../assets/logo.png)
}