.ContainerNav{
    padding: 20px;
   background-color: #7C78B8;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ContainerNav a{
    margin: 0 1rem ;
    text-decoration:none;
    font-size: 22px;
    color: white;
}
.btnSingnout{
    width: 5%;
    height: 25px;
    background-color: #7C78B8;
    color: white;
}