.hero_home{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(https://offsetcode.com/themes/boomerang/1.3/assets/images/module-2.jpg);
    width: 100%;
    height: 700px;
    overflow: hidden;
    pointer-events: none;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, opacity;
    margin-top: 0px;
    background-position: 50% 50%;
}