
 body, #root {
    min-height: 100vh;
}
.Container_Adm{
    display: flex;
    width: 100%;
    background-color: #f0f5f9;
    min-height: 100vh; 

}
.content_list{
    display: flex;
    width: 100%;
}

.hero{
    background-image: url(../../../assets/preview.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    background-position: center;
}
.list_users{
    margin: 2em 1em;
    max-width: 100%;

}
.list_users div{
    display: flex;
    border: 1px transparent;
    background-color: #fff;
    width: 100%;
    height: 40%;
    box-shadow: 5px 5px #80808036;
    padding: 5%;
    
}
.list_users a{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: unset;
}