.open_chamado{
    section{
        display:flex;
        margin:2rem 0;
    }

    &__label{
    
        input{
            padding: 2rem;
        }
    }
    button{
      background-color:  #0f8b85;
      color: #fff;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
    }
}