.table {
      display: flex;
      justify-content: center;

      &__list {
            width: 80%;
            tr,
            td,th {
                  text-align: center;

            }
      }
}